In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('data/minas_antipersonal_limpio.csv')

In [3]:
df.head()

,Departamento,Municipio,Fecha del accidente,Año,Mes,Latitude,Longitude,Cod_dane_muni,Cod_dane_depto,Tipo de lugar,Presunto actor responsable,Tipo de área,Id_imsma evento,Condicion,Genero,Estado,Rango de edad,Actividad,Id_imsma_victima
0,Antioquia,Granada,2006-01-04 00:00:00,2006,1,6.143703,-75.185183,5313,5,Sin información,Desconocido,Rural,ACF_PP_2006_1644879,Civil,Hombre,Herido,Mayor de 18 años,"Pasando, estando cerca",VIC_PP_2006_5099
1,Caquetá,Montañita,2009-12-01 00:00:00,2009,12,1.494944,-75.463090,18410,18,Sin información,Desconocido,Rural,AFD_PP_2009_912,Civil,Hombre,Herido,Mayor de 18 años,Erradicador manual - PCI,VIC_PP_2009_1352
2,Putumayo,Puerto asís,2008-04-30 00:00:00,2008,4,0.502569,-76.498180,86568,86,Sin información,Desconocido,Rural,AFD_PP_2008_914,Civil,Hombre,Muerto,Mayor de 18 años,Erradicador manual - PCI,VIC_PP_2008_1355
3,Córdoba,Puerto libertador,2009-11-21 00:00:00,2009,11,7.883545,-75.670508,23580,23,Sin información,Desconocido,Rural,AFD_PP_2009_915,Civil,Hombre,Herido,Mayor de 18 años,Erradicador manual - PCI,VIC_PP_2009_1356
4,Córdoba,Puerto libertador,2009-11-21 00:00:00,2009,11,7.883545,-75.670508,23580,23,Sin información,Desconocido,Rural,AFD_PP_2009_915,Civil,Hombre,Herido,Mayor de 18 años,Erradicador manual - PCI,VIC_PP_2009_1357

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12520 entries, 0 to 12519
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Departamento                12520 non-null  object
 1   Municipio                   12520 non-null  object
 2   Fecha del accidente         12520 non-null  object
 3   Año                         12520 non-null  int64
 4   Mes                         12520 non-null  int64
 5   Latitude                    12520 non-null  float64
 6   Longitude                   12520 non-null  float64
 7   Cod_dane_muni               12520 non-null  int64
 8   Cod_dane_depto              12520 non-null  int64
 9   Tipo de lugar               12520 non-null  object
 10  Presunto actor responsable  12520 non-null  object
 11  Tipo de área                12520 non-null  object
 12  Id_imsma evento             12520 non-null  object
 13  Condicion                   12520 non-null  object
 14  Genero                      12520 non-null  object
 15  Estado                      12520 non-null  object
 16  Rango de edad               12520 non-null  object
 17  Actividad                   12520 non-null  object
 18  Id_imsma_victima            12520 non-null  object
dtypes: float64(2), int64(4), object(13)
memory usage: 1.8+ MB

In [37]:
victimas_totales = df['Id_imsma_victima'].count()
victimas_edad = df['Rango de edad'].value_counts().reset_index()
print(f"Las victimas totales fueron: {victimas_totales:,.2f}")
print("\nDivididas en: \n")
display(victimas_edad)

Las victimas totales fueron: 12,520.00

Divididas en:

      Rango de edad  count
0  Mayor de 18 años  11215
1  Menor de 18 años   1305

In [39]:
victimas_departamento = df.groupby('Departamento')['Id_imsma_victima'].count().reset_index(name='Count').sort_values(by='Count', ascending=False)

In [42]:
victimas_año = df.groupby('Año')['Id_imsma_victima'].count().reset_index(name='Count')

In [49]:
actividades_peligrosas = df.groupby('Actividad')['Id_imsma_victima'].count().reset_index(name='Count')
actividades_mas_peligrosas = actividades_peligrosas.sort_values(by='Count', ascending=False).head(10)

In [52]:
actores_responsables = df.groupby('Presunto actor responsable')['Id_imsma_victima'].count().reset_index(name='Count')
actores_responsables = actores_responsables.sort_values(by='Count', ascending=False)

actores_responsables

   Presunto actor responsable  Count
1                 Desconocido   5717
4                        FARC   5413
2                         ELN    934
8   Guerrilla No Identificada    245
7           GAO-RESIDUAL FARC    138
6                         GAO     38
5           Fuerzas Militares     19
0                Autodefensas     12
3                  ELN Y FARC      2
9            Narcotraficantes      1
10           Otras Guerrillas      1

In [53]:
estado_victimas = df.groupby('Estado')['Id_imsma_victima'].count().reset_index(name='Count')
estado_victimas

   Estado  Count
0  Herido  10160
1  Muerto   2360